<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='history.css')}}" media="all"/>
    </head>
    <body>
        <div style="min-height:100%;position:relative;">
            <header class="header">
                <div class="header-container">
                    <a class="header_item1" href="/">台北一日遊</a>
                    <div class="header_item2"><a href="/booking">預定行程</a></div>
                    <div class="header_item3">
                        <span id="signin_status">
                            <span onclick="signin_box();">登入</span>/<span onclick="signup_box();">註冊</span>
                        </span>
                        <span id="member_status"><a href="/member">會員專區</a></span>
                    </div>
                </div>
            </header>
            <div id="signinBox" class="signBox">
                <div class="sign_bar"></div>
                <div class="sign_box_wrap">
                    <div class="sign_title">登入會員帳號</div>
                    <img class="icon_close" onclick="signin_box_close();" src="{{url_for('static', filename='icon_close.png')}}"/>
                    <input type="email" placeholder="輸入電子信箱" id="signin_email" class="sign_item" onclick="init_input();"/>
                    <input type="password" placeholder="輸入密碼" id="signin_password" class="sign_item" onclick="init_input();"/>
                    <button id="signin_button" class="sign_button" onclick="signin();">登入帳戶</button>
                    <div onclick="switch_to_signup_box();">還沒有帳戶？點此註冊</div>
                    <div id="signin_error" class="sign_message">信箱或密碼錯誤</div>
                </div>
            </div>
            <div id="signupBox" class="signBox">
                <div class="sign_bar"></div>
                <div class="sign_box_wrap">
                    <div class="sign_title">註冊會員帳號</div>
                    <img class="icon_close" onclick="signup_box_close();" src="{{url_for('static', filename='icon_close.png')}}"/>
                    <input type="text" placeholder="輸入姓名" id="signup_name" class="sign_item" onclick="init_input();"/>
                    <input type="email" placeholder="輸入電子信箱" id="signup_email" class="sign_item" onclick="init_input();"/>
                    <input type="password" placeholder="輸入密碼" id="signup_password" class="sign_item" onclick="init_input();"/>
                    <button id="signup_button" class="sign_button" onclick="signup();">註冊新帳戶</button>
                    <div onclick="switch_to_signin_box();">已經有帳戶了？點此登入</div>
                    <div id="signup_message" class="sign_message">信箱已被註冊</div>
                </div>
            </div>
            <div id="cover"></div>
            <main class="content">
                <div id="content_box">
                    <div class="welcome">您好，<span id="welcome_name"></span>，歷史訂單如下：</div>
                </div>
                <div id="loading" class="loading_icon"></div>
            </main>
            <footer class="end">
                COPYRIGHT © 2021 台北一日遊
            </footer>
        </div>
        <script>
            // 登入狀態
            let signin_status=document.getElementById("signin_status");
            let member_status=document.getElementById("member_status");
            fetch('/api/user',{
                method:"GET"
            }).then(function(response){
                return response.json()
            }).then(function(result){
                if (result["data"]){
                    signin_status.style.display="none";
                    member_status.style.display="block";
                    fetch('/api/history',{
                        method:"GET"
                    }).then(function(response){
                        return response.json()
                    }).then(function(data){
                        let content_box=document.getElementById("content_box");
                        let welcome_name=document.getElementById("welcome_name");
                        welcome_name.textContent=result["data"]["name"];
                        let loading=document.getElementById("loading");
                        if (data["data"]){
                            for (let i=0;i<data["data"].length;i++){
                                let content_container=document.createElement("div");
                                let content_item1=document.createElement("div");
                                let content_item2=document.createElement("div");
                                let content_item3=document.createElement("div");
                                let content_item4=document.createElement("div");
                                let content_item5=document.createElement("div");
                                let content_item6=document.createElement("div");
                                content_container.setAttribute("class","content_container");
                                content_item1.setAttribute("class","content_item");
                                content_item2.setAttribute("class","content_item");
                                content_item3.setAttribute("class","content_item");
                                content_item4.setAttribute("class","content_item");
                                content_item5.setAttribute("class","content_item");
                                content_item6.setAttribute("class","content_item");
                                content_item1.textContent="訂單編號：";
                                content_item2.textContent="台北一日遊：";
                                content_item3.textContent="日期：";
                                content_item4.textContent="時間：";
                                content_item5.textContent="費用：";
                                content_item6.textContent="地點：";
                                let number=document.createElement("span");
                                let order_name=document.createElement("span");
                                let date=document.createElement("span");
                                let time=document.createElement("span");
                                let pay=document.createElement("span");
                                let address=document.createElement("span");
                                number.textContent=data["data"][i]["number"]
                                order_name.textContent=data["data"][i]["trip"]["attraction"]["name"];
                                date.textContent=data["data"][i]["trip"]["date"];
                                time.textContent=data["data"][i]["trip"]["time"];
                                pay.textContent=data["data"][i]["price"];
                                address.textContent=data["data"][i]["trip"]["attraction"]["address"];
                                content_item1.appendChild(number);
                                content_item2.appendChild(order_name);
                                content_item3.appendChild(date);
                                content_item4.appendChild(time);
                                content_item5.appendChild(pay);
                                content_item6.appendChild(address);
                                content_container.appendChild(content_item1);
                                content_container.appendChild(content_item2);
                                content_container.appendChild(content_item3);
                                content_container.appendChild(content_item4);
                                content_container.appendChild(content_item5);
                                content_container.appendChild(content_item6);
                                content_box.appendChild(content_container);
                            }
                        }else{
                            content_box.textContent="沒有資料";
                        }
                        loading.style.display="none";
                        content_box.style.display="block";
                    });
                }else{
                    window.location.replace('/');
                }           
            });
            // 登入框&註冊框
            let signinBox=document.getElementById("signinBox");
            let signupBox=document.getElementById("signupBox");
            let cover=document.getElementById("cover");
            let signin_error=document.getElementById("signin_error");
            let signup_message=document.getElementById("signup_message");
            function init_input(){
                if(signin_error.style.display="block"){
                    signin_error.style.display="none";
                }
                if(signup_message.style.display="block"){
                    signup_message.style.display="none";
                }
            }
            function signin_box(){
                signinBox.style.display="block";
                cover.style.display="block";
                signin_error.style.display="none";
            }
            function signup_box(){
                signupBox.style.display="block";
                cover.style.display="block";
                signup_message.style.display="none";
            }
            function switch_to_signup_box(){
                signinBox.style.display="none";
                signupBox.style.display="block";
                signup_message.style.display="none";
            }
            function switch_to_signin_box(){
                signinBox.style.display="block";
                signupBox.style.display="none";
                signin_error.style.display="none";
            }
            function signin_box_close(){
                signinBox.style.display="none";
                cover.style.display="none";
            }
            function signup_box_close(){
                signupBox.style.display="none";
                cover.style.display="none";
            }
            // 登入&註冊
            function signin(){
                let signin_email=document.getElementById("signin_email");
                let signin_password=document.getElementById("signin_password");
                let data={
                    "email":signin_email.value,
                    "password":signin_password.value
                }
                fetch('/api/user',{
                    method:"PATCH",
                    body: JSON.stringify(data),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["ok"]==true){
                        window.location.replace(location.href);
                    }else{
                        signin_error.style.display="block";
                    }
                });
            }
            function signup(){
                let signup_name=document.getElementById("signup_name");
                let signup_email=document.getElementById("signup_email");
                let signup_password=document.getElementById("signup_password");
                let data={
                    "name":signup_name.value,
                    "email":signup_email.value,
                    "password":signup_password.value
                }
                fetch('/api/user',{
                    method:"POST",
                    body: JSON.stringify(data),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["ok"]==true){
                        signup_message.style.display="block";
                        signup_message.textContent="註冊成功";
                    }else if(result["message"]=="email already exists"){
                        signup_message.style.display="block";
                        signup_message.textContent="信箱已被註冊";
                    }else{
                        signup_message.style.display="block";
                        signup_message.textContent="格式錯誤";
                    }
                });
            }
            // 登出
            function signout(){
                fetch('/api/user',{
                    method:"DELETE"
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["ok"]==true){
                        window.location.replace(location.href);
                    }
                });
            }
            // header預定行程
            function booking_page(){
                fetch('/api/user',{
                    method:"GET"
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["data"]){
                        window.location.href='/booking';
                    }
                    else{
                        signinBox.style.display="block";
                        cover.style.display="block";
                    }
                });
            }
        </script>
    </body>
</html>