<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}" media="all"/>
    </head>
    <body>
        <div style="min-height:100%;position:relative;">
            <header class="header">
                <div class="header-container">
                    <div class="header_item1" onclick="window.history.go(0);">台北一日遊</div>
                    <div class="header_item2" onclick="booking_page();">預定行程</div>
                    <div class="header_item3">
                        <span id="signin_status">
                            <span onclick="signin_box();">登入</span>/<span onclick="signup_box();">註冊</span>
                        </span>
                        <span id="signout_status" onclick="signout();">登出系統</span>
                    </div>
                </div>
            </header>
            <div id="signinBox" class="signBox">
                <div class="sign_bar"></div>
                <div class="sign_box_wrap">
                    <div class="sign_title">登入會員帳號</div>
                    <img class="icon_close" onclick="signin_box_close();" src="{{url_for('static', filename='icon_close.png')}}"/>
                    <input type="email" placeholder="輸入電子信箱" id="signin_email" class="sign_item" onclick="init_input();"/>
                    <input type="password" placeholder="輸入密碼" id="signin_password" class="sign_item" onclick="init_input();"/>
                    <button id="signin_button" class="sign_button" onclick="signin();">登入帳戶</button>
                    <div onclick="switch_to_signup_box();">還沒有帳戶？點此註冊</div>
                    <div id="signin_error" class="sign_message">信箱或密碼錯誤</div>
                </div>
            </div>
            <div id="signupBox" class="signBox">
                <div class="sign_bar"></div>
                <div class="sign_box_wrap">
                    <div class="sign_title">註冊會員帳號</div>
                    <img class="icon_close" onclick="signup_box_close();" src="{{url_for('static', filename='icon_close.png')}}"/>
                    <input type="text" placeholder="輸入姓名" id="signup_name" class="sign_item" onclick="init_input();"/>
                    <input type="email" placeholder="輸入電子信箱" id="signup_email" class="sign_item" onclick="init_input();"/>
                    <input type="password" placeholder="輸入密碼" id="signup_password" class="sign_item" onclick="init_input();"/>
                    <button id="signup_button" class="sign_button" onclick="signup();">註冊新帳戶</button>
                    <div onclick="switch_to_signin_box();">已經有帳戶了？點此登入</div>
                    <div id="signup_message" class="sign_message">信箱已被註冊</div>
                </div>
            </div>
            <div id="cover"></div>
            <div style="background-image:linear-gradient(135deg,#AADDEE 0%,#66AABB 100%);">
                <div class="cover">
                    <div class="welcome">
                        <div class="item1">輕鬆享受台北一日悠閒</div>
                        <div class="item2">探索每個角落，體驗城市的深度旅遊行程</div>
                        <input type="text" placeholder="輸入景點名稱查詢" id="item3"/>
                        <div class="item4"><img id="icon_search" style="position:relative;top:8px;left:15px;width:30px;height:30px;" src="{{url_for('static', filename='icon_search.png')}}"/></div>
                    </div>
                </div>
            </div>
            <main id="container"></main>
            <div id="loading" style="position:absolute;bottom:120px;left:50%;transform:translateX(-50%)">
                <div class="loading_icon"></div>
            </div>
            <footer id="end">
                COPYRIGHT © 2021 台北一日遊
            </footer>
        </div>
        <script>
            let loading=document.getElementById("loading");
            let nextPage=0;
            let isFetching=false;
            let container=document.getElementById("container");
            // 載入內容
            function load(){
                return new Promise((resolve,reject)=>{
                    if(keyword){
                        src="/api/attractions?page="+nextPage+"&keyword="+keyword;
                    }else{
                        src="/api/attractions?page="+nextPage;
                    }
                    fetch(src).then(function(response){
                        return response.json();
                    }).then(function(result){
                        if("error" in result){
                            container.innerHTML="找不到"+keyword;
                        }else{
                            nextPage=result["nextPage"];
                            for(let i = 0; i < result["data"].length; i++){
                                let box = document.createElement('div');
                                let img = document.createElement('img');
                                let name = document.createElement('div');
                                let text = document.createElement('div');
                                let mrt = document.createElement('div');
                                let connect = document.createElement('a');
                                let category = document.createElement('div');
                                box.setAttribute("class","box");
                                let url = result["data"][i]["images"][0];
                                img.setAttribute("src",url);
                                img.setAttribute("class","img");
                                connect.textContent=result["data"][i]["name"];
                                connect.setAttribute("class","connect");
                                name.setAttribute("class","name");
                                text.setAttribute("class","text");
                                mrt.textContent=result["data"][i]["mrt"];
                                category.textContent=result["data"][i]["category"];
                                category.style.cssText="text-align:right";
                                connect.href="/attraction/"+result["data"][i]["id"];
                                box.appendChild(img);
                                box.appendChild(name);
                                name.appendChild(connect);
                                text.appendChild(mrt);
                                text.appendChild(category);
                                box.appendChild(text);
                                container.appendChild(box);
                            }
                        }
                        loading.style.display="none";
                        isFetching=false;
                        resolve();
                    }).catch(function(error){
                        console.log(error);
                    });
                })
            }
            // 搜尋關鍵字
            let icon_search=document.getElementById("icon_search");
            let search=document.getElementById("item3");
            let keyword;
            icon_search.addEventListener("click",function(){
                container.innerHTML="";
                keyword=search.value;
                nextPage=0;
                observer.unobserve(document.getElementById("end"));
                observer.observe(document.getElementById("end"));
            });
            // Input Enter後與搜尋icon連結,發生點擊事件
            search.addEventListener("keyup",function(event){
                if (event.keyCode===13){
                    event.preventDefault();
                    icon_search.click();
                }
            });
            //追蹤target
            let observer=new IntersectionObserver(
                    async function (entries,observer){
                        if((!isFetching)&entries[0].isIntersecting){
                            if(nextPage==null){
                                observer.unobserve(entries[0].target);
                            }else{
                                isFetching=true;
                                loading.style.display="block";
                                await load();
                            }
                        }
                    });
            observer.observe(document.getElementById("end"));
            // 登入狀態
            let signin_status=document.getElementById("signin_status");
            let signout_status=document.getElementById("signout_status");
            fetch('/api/user',{
                method:"GET"
            }).then(function(response){
                return response.json()
            }).then(function(result){
                if (result["data"]){
                    signin_status.style.display="none";
                    signout_status.style.display="block";
                }            
            });
            // 登入框&註冊框
            let signinBox=document.getElementById("signinBox");
            let signupBox=document.getElementById("signupBox");
            let cover=document.getElementById("cover");
            let signin_error=document.getElementById("signin_error");
            let signup_message=document.getElementById("signup_message");
            function init_input(){
                if(signin_error.style.display="block"){
                    signin_error.style.display="none";
                }
                if(signup_message.style.display="block"){
                    signup_message.style.display="none";
                }
            }
            function signin_box(){
                signinBox.style.display="block";
                cover.style.display="block";
                signin_error.style.display="none";
            }
            function signup_box(){
                signupBox.style.display="block";
                cover.style.display="block";
                signup_message.style.display="none";
            }
            function switch_to_signup_box(){
                signinBox.style.display="none";
                signupBox.style.display="block";
                signup_message.style.display="none";
            }
            function switch_to_signin_box(){
                signinBox.style.display="block";
                signupBox.style.display="none";
                signin_error.style.display="none";
            }
            function signin_box_close(){
                signinBox.style.display="none";
                cover.style.display="none";
            }
            function signup_box_close(){
                signupBox.style.display="none";
                cover.style.display="none";
            }
            // 登入&註冊
            function signin(){
                let signin_email=document.getElementById("signin_email");
                let signin_password=document.getElementById("signin_password");
                let data={
                    "email":signin_email.value,
                    "password":signin_password.value
                }
                fetch('/api/user',{
                    method:"PATCH",
                    body: JSON.stringify(data),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["ok"]==true){
                        window.location.replace(location.href);
                    }else{
                        signin_error.style.display="block";
                    }
                });
            }
            function signup(){
                let signup_name=document.getElementById("signup_name");
                let signup_email=document.getElementById("signup_email");
                let signup_password=document.getElementById("signup_password");
                let data={
                    "name":signup_name.value,
                    "email":signup_email.value,
                    "password":signup_password.value
                }
                fetch('/api/user',{
                    method:"POST",
                    body: JSON.stringify(data),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["ok"]==true){
                        signup_message.style.display="block";
                        signup_message.textContent="註冊成功";
                    }else if(result["message"]=="email already exists"){
                        signup_message.style.display="block";
                        signup_message.textContent="信箱已被註冊";
                    }else{
                        signup_message.style.display="block";
                        signup_message.textContent="格式錯誤";
                    }
                });
            }
            // 登出
            function signout(){
                fetch('/api/user',{
                    method:"DELETE"
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["ok"]==true){
                        window.location.replace(location.href);
                    }
                });
            }
            // header預定行程
            function booking_page(){
                fetch('/api/user',{
                    method:"GET"
                }).then(function(response){
                    return response.json()
                }).then(function(result){
                    if (result["data"]){
                        window.location.href='/booking';
                    }
                    else{
                        signinBox.style.display="block";
                        cover.style.display="block";
                    }
                });
            }
        </script>
    </body>
</html>